AGENT_SERVER_URL=http://localhost:2024
SMOKE_TEST_GRAPH_ID=agent

export LANGSMITH_TRACING=true
export LANGSMITH_ENDPOINT=https://api.smith.langchain.com
export LANGSMITH_API_KEY=<your-api-key>
export LANGSMITH_PROJECT="study-abroad-v2-agents"
